@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@function rem($value) {
  @return unquote(($value/1px)/16+'rem');
}
$color1: #df3284;
$color2: #784ff4;
$color3: #9192a4;
$bg1: #f1eff9;
$white: #ffffff;
* {
  font-family: 'Montserrat', sans-serif;
}
.ff-russo {
  font-family: 'Russo One', sans-serif;
}
.bgGradient {
  background-image: linear-gradient($color1, $color2);
}
@media (min-width: 992px) {
  .sidebarNavigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    margin: auto;
    min-width: rem(250px);
  }
  .mainWrapper {
    margin-left: rem(250px);
  }
}

.form-control {
  border-color: $color2;
  color: $color2;
  &:focus {
    box-shadow: none;
    border-color: $color2;
  }
  &::placeholder {
    color: $color2;
  }
}

.section {
  display: flex;
  align-items: center;
}

.imgContainer {
  max-width: 300px;
}

.skill {
  .title {
    @extend .ff-russo;
  }
  .progressBar {
    height: rem(4px);
    position: relative;
    overflow: hidden;
    background-color: darken($white, 10%);
    overflow: visible;
    .progress {
      position: absolute;
      background-image: linear-gradient(90deg, $color1, $color2);
      width: 0;
      top: 0;
      bottom: 0;
      left: 0;
      display: inline-flex;
      height: 100%;
      transition: all ease 1s;
      overflow: visible;
      .percentage {
        position: absolute;
        bottom: 100%;
        padding: 2px 4px;
        color: $color2;
        right: 0;
        margin: auto;
        width: rem(30px);
        height: rem(20px);
        text-align: center;
        @extend .ff-russo;
      }
    }
  }
}
